.aside .logo a::before{
    border-top: 4px solid #ec1839;
    border-left: 4px solid #ec1839;
}
.aside .logo a::after{
    border-right: 4px solid #ec1839;
    border-bottom: 4px solid #ec1839;
}
.aside .nav li a:hover,
.aside .nav li a.active{
    color: #ec1839;
}
.section-title h2::before,
.section-title h2::after,
.nav-toggler span,
.nav-toggler span::before,
.nav-toggler span::after,
.social-links a{
    background-color: #ec1839;
}