/* Google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Rubik:wght@500;700;900&display=swap');
/* Basic style */
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
::before,::after{
    box-sizing: border-box;
}
/* Aside */
.aside{
    width:270px;
    background-color: #fdf9ff;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    border-right: 1px solid #e8dfec;
    padding: 30px;
}
.aside .logo{
    padding: 30px 0;
}
.aside .logo a{
    font-size: 40px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    display: inline-block;
    position: relative;
    padding: 0 10px;
    line-height: 50px;
}
.aside .logo a::before{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.aside .logo a::after{
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.nav-toggler{
    width: 45px;
    height: 40px;
    border: 1px solid #d4d4e3;
    cursor: pointer;
    border-radius: 5px;
    background-color: #fdf9ff;
    position: fixed;
    left: 300px;
    top: 30px;
    /* display: -ms-flexbox;
    display: flex; */
    display: none;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.nav-toggler span{
    width: 18px;
    height: 2px;
    display: inline-block;
    position: relative;
}
.nav-toggler span::before{
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 18px;
    height: 2px;
}
.nav-toggler span::after{
    content: "";
    position: absolute;
    top: 6px;
    left: 0;
    width: 18px;
    height: 2px;
}
.aside .nav {
	margin: 65px 0;
	list-style: none;
	padding: 0;
}
.aside .nav li{
    display: block;
}
.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    line-height: 45px;
    color: #302e4d;
    border-bottom: 1px solid #e8dfec;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    text-transform: capitalize;
}
.aside .nav li a .fa{
    margin-right: 5px;
}
.aside .nav li a:not(.active):hover{
    padding-left: 5px;
}
.aside .copyright-text{
    font-size: 13px;
    color: #7d7d7d;
}
/* Main-content */
.main-content{
    padding-left: 270px;
}
.container{
    width: 100%;
    margin: auto;
}
.intro{
    text-align: center;
}
.profile {
	width: 200px;
	height: 200px;
	object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    border: 8px solid #ffffff;
}
.shadow-dark{
    -webkit-box-shadow: 0 0 20px rgba(48,46,77,0.15);
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}
/* Home */
.home{
    min-height: 100vh;
    display: flex;
}
.home .intro h1{
    font-size: 30px;
    color: #302e4d;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    margin: 20px 0 5px;
}
.home .intro p{
    font-size: 16px;
    font-weight: 500;
    color: 504e70;
    margin: 0;
    line-height: 22px;
}
.social-links{
    margin-top: 25px;
}
.social-links a{
    width: 35px;
    height: 35px;
    color: #ffffff;
    display: inline-block;
    text-align: center;
    margin: 0 4px;
    line-height: 35px;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.social-links a:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.section{
    min-height: 100vh;
    background-color:#f2f2fc;
    padding: 0 30px;
}