.style-switcher {
	position: fixed;
	top: 20px;
	right: 0;
	z-index: 10;
	background-color: #ffffff;
	border: 1px solid #d4d4e3;
	border-right: none;
	padding: 15px;
    border-radius: 0 0 0 5px;
    -webkit-transition: 0.3s all ease;
    transition: 0.3s all ease;
    -webkit-transform: translate(100%);
    transform: translate(100%);
}
.style-switcher.open{
    -webkit-transform: translate(0%);
    transform: translate(0%);
}
.style-switcher h5{
    font-size: 16px;
    color: #302e4d;
    margin-top: 0;
    margin-bottom: 8px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8dfec;
}
.style-switcher ul{
    margin: 0;
    padding: 0;
    display: block;
    margin-bottom: 5px;
    list-style: none;
}
.style-switcher ul li{
    display: inline-block;
}
.style-switcher ul li a{
    display:block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    margin-right: 2px;
}
.style-switcher .toggle-style-switcher {
	position: absolute;
	top: -1px;
	left: -46px;
	width: 45px;
	height: 45px;
	background-color: #ffffff;
	border: 1px solid #d4d4e3;
	border-right: none;
	text-align: center;
    border-radius: 5px 0 0 5px;
}
.style-switcher .toggle-style-switcher .fa{
    font-size: 20px;
    line-height: 43px;
    cursor: pointer;
}